<section id="competences">
    <div class="comp">
        <h1>COMPÉTENCES</h1>
        <br>
        <img src="/assets/c.png" alt="C">
        <img src="/assets/c++.png" alt="C++">
        <br>
        <img src="/assets/html.png" alt="HTML">
        <img src="/assets/css.png" alt="CSS">
        <br>
        <img src="/assets/javascript.png" alt="Javascript">
        <img src="/assets/typescript.png" alt="TypeScript">
        <br>
        <img src="/assets/angularjs.png" alt="Angular">
        <img src="/assets/ionic.png" alt="Ionic">
        <br>
        <img src="/assets/python.png" alt="Python">
    </div>
</section>